<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Padaria{% endblock %}</title>
</head>
<body>

    <header>
        <h1>Bem-vindo à padaria!</h1>
        <p>Escolha uma opção</p>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'lista_pedidos' %}">Lista de Pedidos</a></li>
            <li><a href="{% url 'lista_reservas' %}">Lista de Reservas</a></li>
            <li><a href="{% url 'fazer_pedido' %}">Fazer Pedido</a></li>
            <li><a href="{% url 'fazer_reserva' %}">Fazer Reserva</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>

