<!-- app_padaria/templates/app_padaria/detalhes_reserva.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Reserva</title>
</head>
<body>
    


    {% block content %}
    <h1>Detalhes da Reserva</h1>
    <p><strong>ID da Reserva:</strong> {{ reserva.id }}</p>
    <p>Nome do Cliente: {{ reserva.nome_cliente }}</p>
    <p>Data da Reserva: {{ reserva.data_reserva|date:"d/m/Y" }}</p>
    <p>Quantidade de Pessoas: {{ reserva.quantidade_pessoas }}</p>

  

    <a href="{% url 'lista_reservas' %}">Voltar para a lista de reservas</a>
    {% endblock %}

</body>
</html>
