<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
</head>
<body>
    <h1>Lista de Reservas</h1>
    
    {% block title %}Lista de Reservas{% endblock %}

    {% block content %}
        {% if reservas %}
            <ul>
                {% for reserva in reservas %}
                    <li>
                        <a href="{% url 'detalhes_reserva' reserva.id %}">
                            {{ reserva.nome_cliente }} - {{ reserva.data_reserva|date:"d/m/Y" }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma reserva encontrada.</p>
        {% endif %}
    {% endblock %}

</body>
</html>


